@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ffffff;
  --color-foreground: #333333;
  --color-primary: #17c964;
  --color-divider: #e4e4e7;
  --color-content1: #ffffff;
}

.dark {
  --color-background: #121213;
  --color-foreground: #e5e5e5;
  --color-primary: #0f9e4d;
  --color-divider: #27272a;
  --color-content1: #27272a;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Bazier Square,
    Noto Sans KR,
    Segoe UI,
    Apple SD Gothic Neo,
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

.custom-tooltip {
  @apply rounded-lg bg-gray-100 text-foreground dark:bg-content1 !important;
}
