@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ffffff;
  --color-foreground: #333333;
  --color-primary: #03c75a;
  --color-content1: #ffffff
    /* --color-secondary: #64748b;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444; */;
}

.dark {
  --color-background: #121213;
  --color-foreground: #e5e5e5;
  --color-primary: #3bdd47;
  --color-content1: #27272a
    /* --color-secondary: #94a3b8;
  --color-success: #34d399;
  --color-warning: #fbbf24;
  --color-danger: #f87171; */;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Bazier Square,
    Noto Sans KR,
    Segoe UI,
    Apple SD Gothic Neo,
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}
